<!DOCTYPE HTML>
<html lang="en">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/f4af70b015.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro&family=Joan&family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Old+Standard+TT&family=Roboto:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Place in the <head>, after the three links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">


    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estyle.css' %}" type="text/css">

    {% block css %}
    

    {% endblock %}
        


    
    <title>NewHelpNotary</title>
</head>
<body id="portada">
    <header>
        <style> 
        .Login a i {
            width: 20px;
            margin-right: 5px;
        }
        
        </style>
        <div class="cabezera">
            
            <p class="app"> <i class="fa-brands fa-whatsapp"></i> Whatsapp +569 71330656</p>
            <p class="direccion"> <i class="fa-solid fa-location-dot">  
             </i>  Dirección: Av. Libertad 1155-A, Viña Del Mar / Teléfono: 32-2460710 </p>   

        </div>
        
        <div class="top-header">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'app/img/icon1.png' %}" alt=""></a>

                <a href="{% url 'home' %}"><h2 >"NewHelpNotaria"</h2></a>
            </div>

            <div class="Login">
                <ul class="navbar-nav">
                    {% if not request.user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                        </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
                      </li>
                      <span>{{ user.username }}</span>
                    {% endif %}
                  </ul>
            </div>  
          
        </div>  


        </div>
            <nav class="menu">         
                <ul>
                    <li><a href="{% url 'Equipo' %} "><i class="fa-solid fa-user-plus"></i>  Equipo  </a></li>
                    <li><a href="{% url 'Tramites' %}"> <i class="fa-sharp fa-solid fa-pen-to-square"></i> Tramites</a></li>
                    <li><a href="{% url 'Servicios' %}"><i class="fa-solid fa-book-open"> </i>  Servicios</a></li>
                    <li><a href="{% url 'PreguntasFrecuentes' %}"> <i class="fa-regular fa-circle-question"></i>  Preguntas Frecuentes </a></li>
                    <li><a href="{% url 'ReservarHora' %}"> <i class="fa-solid fa-calendar-days"></i> Reservar Hora</a></li>
                    <li><a href="{% url 'Contacto' %}"> <i class="fa-solid fa-location-arrow"></i> Contacto </a></li>
                </ul>
            </nav>  
         

    </header>
    
 

    {% block contenido %}


    {% endblock %}
    
    


        
    <footer> 
            <nav>
                <ul class="listfooter">
                    <li><a href="{% url 'Equipo' %} "><i class="fa-solid fa-user-plus"></i>  Equipo  </a></li>
                    <li><a href="{% url 'Tramites' %}"> <i class="fa-sharp fa-solid fa-pen-to-square"></i> Tramites</a></li>
                    <li><a href="{% url 'Servicios' %}"><i class="fa-solid fa-book-open"> </i>  Servicios</a></li>
                    <li><a href="{% url 'PreguntasFrecuentes' %}"> <i class="fa-regular fa-circle-question"></i>  Preguntas Frecuentes </a></li>
                    <li><a href="{% url 'ReservarHora' %}"> <i class="fa-solid fa-calendar-days"></i> Reservar Hora</a></li>
                    <li><a href="{% url 'Contacto' %}"> <i class="fa-solid fa-location-arrow"></i> Contacto </a></li>
                </ul>
            </nav>

                <P class="copy"> © NewHelpNotary, TODOS LOS DERECHOS RESERVADOS </P>
                <br>
                <p class="ubicacion">Dirección: Av. Libertad 1155-A, Viña Del Mar / Teléfono: 32-2460710
                </p>
    
        </footer> 

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            
 {% if messages %}

    {% for m in messages %}
        <script>
                Swal.fire({
                    "title":"Felicitaciones",
                    "text":"{{m}}",
                    "icon":"succes",
                })
        </script>
    {% endfor %}

 {% endif %}


        {% block js %}

        {% endblock %}

</body>
</html>