{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      
<div class="titulo">

    <h2>Equipo</h2>
    <p>Nuestro Equipo te trabajo</p>
</div>
    <div class="content-intro">
       

        <div class="cecilia-galvez">
            <i class="fa-solid fa-user-pen"></i>
        </div>
        <div class="title">
            <h1>Cecilia Galvez</h1>
        </div>
        <div class="introduccion">
            <p>La Notaría Cecilia Galvez, que corresponde a la Quinta Notaría de la ciudad de Viña del Mar,
                 está a cargo de Doña Cecilia Galvez Pino, nombrada por Decreto Supremo N° 422 del Ministerio de Justicia del año 2020. La abogado doña Cecilia Galvez Pino,
                 egresó de la Universidad de Concepción, fue nombrada Notario Público el año 2015 para servir el cargo en la Tercera Notaría de San Fernando con asiento en Chimbarongo, ahí desempeñó sus
                 funciones hasta enero del año 2020, fecha en que, previo concurso, fue nombrada en la Quinta Notaria de Viña del Mar, donde actualmente desempeña sus funciones.

            </p>
        </div>
      
    </div>
   
    
 <div class="container1">
        <!-- NEWS CARDS -->
    <div class="news-cards">
        <!-- Ecrituras Publicas -->
        <div>
            
            <h3>Monica Covarruvias</h3>
            <p>Escrituras Públicas <br>
            <p>Segundo Piso</p></p>
            <p class="texto">mcovarrubias@notariaceciliagalvez.cl </p>
        </div>

        <div>
            <h3>Camila Rivera</h3>
            <p>Escrituras Públicas</p>
            <p>Segundo Piso</p>         
            <p class="texto">crivera@notariaceciliagalvez.cl </p>
    
        </div>

        <div>
            <h3>Alejandra Fernandez  </h3>
            <p>Escrituras Públicas <p> Segundo Piso</p>
            <p class="texto">afernandez@notariaceciliagalvez.cl</p>
        </div>

       <div>
            <h3>Marisol Chacón </h3>     
            <p>Escrituras Públicas</p> <p>Segundo Piso</p>
            <p class="texto">mchacon@notariaceciliagalvez.cl </p>
      </div>

        <!-- Documentos Privados -->
        <div>
            <h3>Patricia Osses</h3>
            <p>Documentos Privados <br>
            <p>Meson</p></p>
            <p class="texto">posses@notariaceciliagalvez.cl</p>
        </div>

        <div>
            <h3>Paula Coma</h3>
            <p>Documentos Privados <br>
             <p>Meson</p></p>
            <p class="texto">pcoma@notariaceciliagalvez.cl</p>
        </div>

        <div>
            <h3>Sebastian Pacheco</h3>
            <p>Documentos Privados <br>
             <p>Meson</p></p>
             <p class="texto">sebastian@notariaceciliagalvez.cl</p>
        </div>

        <div>
            <h3>Gricelda Ruiz</h3>
            <p>Documentos Privados <br>
             <p>Meson</p></p>
            <p class="texto">GriceldaR@notariaceciliagalvez.cl</p>
        </div>


        <div>
            <h3>Karen Rodriguez</h3>
            <p>Documentos Privados <br>
             <p>Meson</p></p>
            <p class="texto">krodriguez@notariaceciliagalvez.cl</p>
        </div>

        <div>
            <h3>Camila Diaz</h3>
            <p>Documentos Privados <br>
             <p>Meson</p></p>
            <p class="texto">CamilaDiaz@notariaceciliagalvez.cl</p>
        </div>


        <div>
            <h3>Pilar Pizarro</h3>
            <p>Documentos Privados <br>
             <p>Meson</p></p>
            <p class="texto">Pizarzo@notariaceciliagalvez.cl</p>
        </div>


        <div>
            <h3>Fernanda Diaz</h3>
            <p>Documentos Privados <br>
             <p>Meson</p></p>
            <p class="texto">FernandaDiaz@notariaceciliagalvez.cl</p>
        </div>



    </div>


                

</div>

{% endblock %}