{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      

     
<div class="titulo">

    <h2>Tramites</h2>
    <p>Tramites más comunes y todo los que necesitas saber.</p>
</div>

       
 <div class="container1">
    <!-- NEWS CARDS -->
    
    <div class="news-cards">
        <!-- Ecrituras Publicas -->
        <div>
            <a href="{% url 'infodocuExtranjeros' %} "><i aria-hidden="true" class="fas fa-plane"></i></a>
            <h3>DOCUMENTOS <br> OTORGADOS EN EL <br> EXTRANJERO</h3>
    
        </div>
    
        <div>
            <a href="{% url 'infoPagare' %} "><i aria-hidden="true" class="fas fa-ban"></i></a>
             <h3>PROTESTO DE UNA <br> LETRA O PAGARE</h3>
             
            
    
        </div>
    
        <div>
            <a href="{% url 'infoImpuesto' %} "><i aria-hidden="true" class="fas fa-stamp"></i></a>
            <h3>IMPUESTOS DE TIMBRES EN PAGARES BANCARIOS  </h3>
            
        </div>
    
       <div>
            <a href="{% url 'infoGuardas' %} "><i aria-hidden="true" class="fas fa-book"></i></a>
            <h3>GUARDAS DE DOCUMENTOS Y LAS LLAMADAS “CARTA DE INSTRUCCIONES” </h3>     
          
      </div>
    
        <div>
            <a href="{% url 'infoMandato' %} "><i aria-hidden="true" class="fas fa-file-signature"></i></a>
            <h3>MANDATO ESPECIAL </h3>     
          
        </div>
    
    
        <div>
            <a href="{% url 'infoPoder' %} "><i aria-hidden="true" class="fas fa-gavel"></i></a>   
            <h3>PODER ESPECIAL </h3>     
        
        </div>
    
      <div>
        <a href="{% url 'infoBien' %} "><i aria-hidden="true" class="fas fa-building"></i></a>  
        <h3>COMPRAVENTA DE UN BIEN RAÍZ</h3>
        
      
      </div>
    
      <div>
        <a href="{% url 'infoPromesa' %} "><i aria-hidden="true" class="fas fa-handshake"></i></a>
        <h3>PROMESA DE COMPRA VENTA </h3>     
        
     </div>
    
     <div>
        <a href="{% url 'infoRevocacion' %} "> <i aria-hidden="true" class="fas fa-file-medical-alt"></i></a>
         <h3>REVOCACION DEL MANDATO </h3>     
        
     </div>
    
     <div>
        <a href="{% url 'infoJuris' %} "><i aria-hidden="true" class="fas fa-signature"></i></a>
        <h3>JURISPRUDENCIA SOBRE «AUTORIZO LA FIRMA DE»</h3>     
        
     </div>
    
     <div>
        <a href="{% url 'infoMenores' %} "><i aria-hidden="true" class="fas fa-plane-departure"></i></a>
        <h3>SALIDA DE MENORES DEL PAIS </h3>     
        
     </div>
    
     <div>
        <a href="{% url 'infoVehiculos' %} "><i aria-hidden="true" class="fas fa-car-side"></i></a>
         <h3>TRANSFERENCIA SOBRE VEHICULOS MOTORIZADOS </h3>     
    
     </div>
    
    </div>
    

            

 </div>

    
 

                

{% endblock %}