{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      
    

<style>
    h1{margin-top: 50px;}
    .container4 {  margin-left: 200px; }
    .container4 {  margin-right: 200px; }
    .div i { display: flex; justify-content: center; font-size: 50px;  color: #7A7A7A; margin-top: 40px; margin-bottom: 40px;}
    p{ color: #000000;}
    .container4 i { margin-right:250px;}
</style>

<div class="container4">
        
    <h1>SALIDA DE MENORES DEL PAÍS </h1>
            
           <!--  <span class="iconos"><i class="fa-solid fa-house-user"></i> </span>   -->
           <div class="div">
            <i aria-hidden="true" class="fas fa-plane-departure"></i>
           </div>

           <p>Implementación del Acuerdo sobre Procedimiento para la Verificación de la Documentación de Egreso e Ingreso de Menores,<br>
             suscrito entre los Estados Partes del MERCOSUR y Estados Asociados. </p> <br><br>

           <p>Normativa que regula la salida de menores chilenos y residentes  </p> <br><br>
            
            
            <p>El artículo 49°, de la Ley 16.618, señala entre otros aspectos, quienes son llamados a otorgar el permiso para que el menor de <br>
                 edad abandone el país, voluntad que el autorizante debe hacer constar en una escritura pública o privada autorizada por Notario <br>
                  Público. Ellos son: los padres, tutores, padre que concurrió al reconocimiento, subsidiariamente el tribunal competente, el tercero o <br>
                   padre que goza del régimen de visita. </p> <br><br>

           <p> Se pueden dar las siguientes situaciones: </p> <br><br>


           <p>Si la tuición de un menor no ha sido confiada a alguno de sus padres ni a un tercero, aquel no podrá salir sin la autorización <br>
            de ambos padres. Confiada la tuición a uno de los padres o a un tercero, el menor no podrá salir sino con la autorización de aquel a <br>
            quien se hubiere confiado la tuición. </p> <br><br>

            <p>La salida del país de un menor debe ser autorizada por aquel que lo hubiere reconocido, o por el padre y la madre si ambos lo <br>
                hubieren hecho. Si la tuición del menor se hubiese confiado por el juez a uno de los padres o a un tercero, sólo se requerirá la <br>
                 autorización de aquel o de éste, en su caso. </p>
             
            <p>Decretada por el tribunal la obligación de admitir visitas, se requerirá también la autorización del padre o de la madre que tenga <br>
                derecho a visitar al hijo. – El permiso deberá prestarse por Escritura Pública o Escritura Privada autorizada por Notario Público. <br>
                 Este permiso no será necesario si el menor sale del país en compañía de la persona o personas que deben prestarlo </p> <br>
                 
             <p>En caso de que no pudiere otorgarse o sin motivo plausible se negare la autorización, podrá ser otorgada por el Tribunal de familia <br>
                del lugar en que tenga su residencia el menor. </p> <br>
                
               <p>El los demás casos, se requerirá la autorización del Tribunal de Familia respectivo. Asimismo, la salida de menores extranjeros, <br>
                 debe: </p> <br> 
             
             <p>El extranjero menor de 18 años que ingresa al país en calidad de turista, con autorización escrita de su padre, madre, guardador o <br>
                de un Juez competente, se entiende de pleno derecho facultado para abandonar el territorio nacional en virtud de la misma <br>
                autorización. </p> <br>
                
               <p>El Extranjero menor de 18 años que ingresa en calidad de turista en compañía de su representante legal, para salir del país sin <br>
                éste, requiere autorización escrita. </p> <br>
                
                <p>Si las personas llamadas a dar su autorización para la salida de menores extranjeros no pudieren o no quisieren otorgar tal <br>
                    autorización, ésta podrá ser suplida por el Tribunal de Familia competente. Igual procedimiento se aplica respecto de los menores <br>
                     que ingresan ilegalmente al país. </p> <br>

                <p>Tratándose de extranjeros menores de 18 años residentes en el país, se estará a lo dispuesto en la ley n° 16.618, antes citada. <br>
                    Los demás casos no contemplados en este instructivo, deben ser resueltos por el tribunal de familia correspondiente. Origen y <br>
                    objetivo del Acuerdo: </p><br> <br>

                <p>Este acuerdo fue suscrito el 8 de junio de 2006, en el marco de la Reunión de Ministros del Interior del MERCOSUR y Estados <br>
                     Asociados, bloque en el cual Chile participa como Estado Asociado. </p><br><br>
                <p>Su objetivo es establecer un procedimiento de control que posibilite un mayor resguardo de los menores nacionales o residentes <br>
                    que transiten por los Estados Partes y Asociados de MERCOSUR. </p> <br> <br>
                    
                 <p>De este modo, el Acuerdo rige para los siguientes países: </p> <br><br>
                 <p>Argentina <br>
                    Bolivia Argentina Argentina <br>
                    Bolivia <br>
                    Brasil <br>
                    Chile <br>
                    Colombia <br>
                    Ecuador <br>
                    Paraguay <br>
                    Perú <br>
                    Uruguay <br>
                    Venezuela <br>
                    Por ello cuando viaje con un menor deberá presentar, los siguientes documentos según sea el caso, en Policía Internacional</p> <br>

                    <p>Menores que viajen acompañados por ambos padres: </p> <br>
                    <p>Pasaporte o Cédula de identidad vigente según sea el país de destino. – Certificado de Nacimiento o Libreta de Familia, más tres <br>
                     fotocopias simples del documento. Menores que viajen acompañados por solo uno de sus padres: </p>

                     <p>Pasaporte o Cédula de Identidad vigente según sea el país de destino. – Certificado de Nacimiento o Libreta de Familia, más tres <br>
                         fotocopias simples. – Certificado de Defunción, en cado de estar fallecido uno de los padres, más tres fotocopias simples. – <br>
                          Autorización Notarial del padre que no viaja, entregando su consentimiento para la salida del menor o la autorización del Tribunal <br>
                           de Familia que corresponda, en original más tres fotocopias simples. </p> <br>

                       <p>Menores No viajen acompañados de sus padres: </p> <br>
                       
                       <p>Pasaporte o cédula de identidad vigente según sea el país de destino. <br>
                        Certificado de Nacimiento o Libreta de Familia más tres fotocopias simples. <br> 
                        Certificado de Defunción en caso de estar fallecidos ambos padres, más tres fotocopias simples.<br>
                        Autorización Notarial de ambos padres, entregando su consentimiento para la salida del menor, en original más tres fotocopias <br>
                         simples.<br>
                        Autorización del Tribunal de Familia que corresponda, entregando el consentimiento para el viaje del menor, en original más tres <br>
                        fotocopias simples. </p> <br><br><br><br>
                     
                       <br> <br> <br> <br>
                      </div>
        
    </div>
      
        

</div>


{% endblock %}