{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      
    

<style>
    h1{margin-top: 50px;}
    .container4 {  margin-left: 200px; }
    .container4 {  margin-right: 200px; }
    .div i { display: flex; justify-content: center; font-size: 50px;  color: #7A7A7A; margin-top: 40px; margin-bottom: 40px;}
    p{ color: #000000;}
    .container4 i { margin-right:250px;}
</style>

<div class="container4">
        
    <h1>PROMESA DE COMPRAVENTA </h1>
            
           <!--  <span class="iconos"><i class="fa-solid fa-house-user"></i> </span>   -->
           <div class="div">
            <i aria-hidden="true" class="fas fa-handshake"></i>
           </div>

           <p>Este es un contrato que puede ser otorgado tanto por medio de una escritura pública o a través de un instrumento privado. </p> <br><br> 

           <p>Este tipo de contratos se hacen con frecuencia y es un contrato de gran importancia, pues con él se crean derechos y nacen obligaciones.  </p> <br> <br>
            
           <p>Por ello, una de las cláusulas usuales en este tipo de contratos es la llamada «cláusula penal», en la cual los contratantes <br>
            convienen el pago de multas o indemnizaciones para el caso de incumplimiento. Por su trascendencia debe ser muy bien <br>
             redactada de manera que no se preste para interpretaciones equivocas.  </p><br> <br> <br> <br>
             

           
              
      
        

</div>


{% endblock %}