{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      
    

<style>
    h1{margin-top: 50px;}
    .container4 {  margin-left: 200px; }
    .container4 {  margin-right: 200px; }
    .div i { display: flex; justify-content: center; font-size: 50px;  color: #7A7A7A; margin-top: 40px; margin-bottom: 40px;}
    p{ color: #000000;}
    .container4 i { margin-right:250px;}
</style>

<div class="container4">
        
    <h1>GUARDAS DE DOCUMENTOS Y LAS LLAMADAS “CARTA DE INSTRUCCIONES” </h1>
            
           <!--  <span class="iconos"><i class="fa-solid fa-house-user"></i> </span>   -->
           <div class="div">
            <i aria-hidden="true" class="fas fa-book"></i>
           </div>

           <p>En la actualidad la gran mayoría de los contratos sobre compraventa de inmuebles cumplen con el trámite de dejar en custodia del <br><br><br>
             notario documentos como Vales Vista o cheques y mediante los cuales el comprador paga el precio de la venta. </p>
           <p>Estos dineros o valores quedan bajo la custodia del notario con una carta de Instrucciones en la cual se señala que el ministro de <br>
             fé procederá a entregarlos a su destinatario (el vendedor o quien sus derechos represente) solo una vez que se le acredite <br>
              que el dominio ha sido inscrito en favor del comprador y que la propiedad se encuentra libre de gravámenes y prohibiciones.</p>
             <br>

           <p>Estos dineros o valores quedan bajo la custodia del notario con una carta de Instrucciones en la cual se señala que el ministro de <br>
             fé procederá a entregarlos a su destinatario (el vendedor o quien sus derechos represente) solo una vez que se le acredite que el <br>
             dominio ha sido inscrito en favor del comprador y que la propiedad se encuentra libre de gravámenes y prohibiciones.</p><br>

             <p>La Carta de Instrucciones debe ser muy bien redactada pues no corresponde al notario interpretar el alcance que los otorgantes <br>
                 han querido darle. </p><br>
              
             <p>Otra característica es que debe ser suscrita por todas las partes de la escritura. </p> <br><br><br><br>   
           
             

    </div>
      
        

</div>


{% endblock %}