{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      
    

<style>
    h1{margin-top: 50px;}
    .container4 {  margin-left: 200px; }
    .container4 {  margin-right: 200px; }
    .div i { display: flex; justify-content: center; font-size: 50px;  color: #7A7A7A; margin-top: 40px; margin-bottom: 40px;}
    p{ color: #000000;}
    .container4 i { margin-right:250px;}
</style>

<div class="container4">
        
    <h1>JURISPRUDENCIA SOBRE «AUTORIZO LA FIRMA DE» </h1>
            
           <!--  <span class="iconos"><i class="fa-solid fa-house-user"></i> </span>   -->
           <div class="div">
            <i ria-hidden="true" class="fas fa-signature"></i>
           </div>

           <p>Con la reforma notarial de 1980 se introdujo entre las funciones del notario la de «autorizar las firmas que se estampen en <br>
             documentos privados, sea en su presencia o cuya autenticidad les conste.» (art 401 N° 10 COT).  </p> <br><br>

           <p> Esto ha sido el origen de la práctica bancaria para remitir a notaría en forma diaria los pagarés suscritos en sus oficinas a fin que <br>
             el notario «autorice la firma de .». Cada notario, de acuerdo a su saber y experiencia adopta las medidas de resguardo que estime <br>
             convenientes.  </p> <br><br>
            
            
            <p>Sin embargo de lo clara que es la norma en referencia, cada cierto tiempo se discute en los tribunales, y especialmente en materia <br>
                de pagarés bancarios que se cobran ejecutivamente, si la expresión «autorizo la firma de .» es suficiente para dar mérito ejecutivo <br>
                 al documento respectivo. </p> <br><br>

           <p> Se ha sostenido por el ejecutado (Rol C. Suprema 4721-04- Sentencia de fecha 31 Mayo 2007) que los ministros de fé sólo <br>
             pueden autorizar las firmas que se estampen en su presencia, y en el evento en que ello no haya ocurrido, cuando «tengan <br>
             registrada su firma en la respectiva notaría, mecanismo que constituye el único medio por el cual, en ausencia del suscriptor,<br>
              comprueba el notario la autenticidad de la firma que debe autorizar». </p> <br><br>

            <p>El ejecutado recurre de casación en el fondo contra la sentencia de 2° instancia que rechazó su apelación confirmando el fallo de <br>
                la 1°. Instancia. </p>  <br>

             <p>El Considerando 19 del fallo de casación dice «el aludido requerimiento de la ley (se refiere al art 401 N° 10) no va más allá de la <br>
                letra de su texto, cuyo sentido es perfectamente claro: se exige que la firma sea autorizada por notario. Ello se refiere a la <br>
                 autenticidad de la firma del que lo suscribe en los términos que indica el artículo 17 inc. 2° del Código Civil, esto es, el hecho de <br>
                  haber sido realmente suscrito por la persona y de la manera que en él se indica, vale decir, que ese es el nombre y apellido, con <br>
                  rúbrica o sin ella, que una persona pone en un escrito». El Considerando 20, por su parte señala: «Que el concepto «autorización <br>
                  notarial» debe entenderse en su sentido procesal, como palabra técnica, conforme al artículo 21 del Código Civil y desde este <br>
                  punto de vista, la expresión denota la legalización que pone el escribano, en alguna escritura o instrumento, de forma que haga fé <br>
                  pública, esto es, atestando la verdad de las firmas puestas en él. El vocablo «autorizar» no supone necesariamente la presencia <br>
                  de aquel cuya rúbrica autentifica y, por consiguiente, la correcta interpretación del art. 434 N° 4 inciso segundo del citado <br>
                   ordenamiento, NI SIQUIERA LLEVA A EXIGIR LA COMPARECENCIA ante el notario del obliga que firma un instrumento mercantil, <br>
                    sea pagaré, cheque o letra de cambio, BASTANDO AL EFECTO la sola actuación del ministro de fé autorizante de que le conste la  <br>
                    autenticidad de la forma que autoriza. Dicha interpretación, además, resulta coherente con lo prescrito en el número 10 del art 401 <br>
                     del COT de acuerdo con el cual son funciones de los notarios autorizar las firmas que se estampen en documentos privados, sean <br>
                      en su presencia o cuya autenticidad les conste. </p> <br><br>

                   <p>Así, – continúa este considerando – lo ha entendido REITERADAMENTE la jurisprudencia de nuestros tribunales (Rev. de <br>
                     Derecho y J. Tomo LXXVII, Sec. 1°. Pg. 59; Tomo LXXXIV, sec 2°, pg. 47; TomoLXXXV, sec. 2° pág. 54 y Tomo LXXXVIII, sec. 2°, <br>
                      pág 129)» </p> <br><br><br><br>  

    </div>
      
        

</div>


{% endblock %}