{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      
    

<style>
    h1{margin-top: 50px;}
    .container4 {  margin-left: 200px; }
    .container4 {  margin-right: 200px; }
    .div i { display: flex; justify-content: center; font-size: 50px;  color: #7A7A7A; margin-top: 40px; margin-bottom: 40px;}
    p{ color: #000000;}
    .container4 i { margin-right:250px;}
</style>

<div class="container4">
        
    <h1>IMPUESTOS DE TIMBRES EN PAGARES BANCARIOS </h1>
            
           <!--  <span class="iconos"><i class="fa-solid fa-house-user"></i> </span>   -->
           <div class="div">
            <i i aria-hidden="true" class="fas fa-stamp"></i>
           </div>
           <p>En sentencia de fecha 31 de Mayo de este año, de la Excma. Corte Suprema, causa rol 4721-04, se ha fallado un tema que es <br>
            recurrente y que afecta a quienes inician acciones ejecutivas en cobranza de pagarés suscritos a entidades bancarias. Se hace <br>
             oposición a la ejecución alegando que no se acredita en el proceso el pago del impuesto de timbres que afecta a dichos <br>
             documentos. En la causa citada se resuelve que:</p>
             <br><br>

           <p>Considerando Cuarto: (punto décimo)</p>
              
           <p>«Por último, en cuanto a la excepción del N° 7 del artículo 464 y en lo relativo a la omisión del pago del impuesto, estiman los <br>
             falladores que atendida la naturaleza del ente emisor del documento, esto es, un banco comercial, y lo que disponen los artículos <br>
              15 n° 2, 17 n° 1 y 26 del decreto ley 3574, la obligación que reclama el ejecutado se entiende cumplida con la leyenda impresa en <br>
              el instrumento, en cuanto a que el impuesto que lo grava se paga por ingreso de dinero en Tesorería, sin perjuicio de los libros y <br>
              registros que a la institución ejecutante le corresponde llevar para cumplir con las instrucciones que al respecto ha impartido el <br>
              Servicio de Impuestos Internos y cuya fiscalización corresponde a ese Servicio Y NO AL TRIBUNAL». La sentencia en cuestión <br>
               incide en el mismo juicio y recurso a que se refiere la transcripción anterior sobre la Autorización de firmas en pagarés. </p> <br><br><br><br>
             

    </div>
      
        

</div>


{% endblock %}