{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      
    

<style>
    h1{margin-top: 50px;}
    .container4 {  margin-left: 200px; }
    .container4 {  margin-right: 200px; }
    .div i { display: flex; justify-content: center; font-size: 50px;  color: #7A7A7A; margin-top: 40px; margin-bottom: 40px;}
    p{ color: #000000;}
    .container4 i { margin-right:250px;}
</style>

<div class="container4">
        
    <h1>Protesto de una letra o pagare </h1>
            
           <!--  <span class="iconos"><i class="fa-solid fa-house-user"></i> </span>   -->
           <div class="div">
            <i aria-hidden="true" class="fas fa-ban"></i>
           </div>
           <p>Este es un trámite normado en la ley 18.092, y de acuerdo a ella una letra puede ser protestada por falta de aceptación,<br>
            (escasos), por falta de fecha reaceptación (muy escasos) y por falta de pago (la gran mayoría) El protesto debe hacerse por un<br>
            notario, pudiendo actuar un Oficial de Registro Civil en aquellas comunas en que no exista un oficio notarial. <br>
             público o privado respecto de actos o contratos que hayan de tener efecto en Chile. </p>
             <br>

           <p>Lugar del protesto. </p>
              <br>
           <p>La letra se protesta en el lugar donde debe efectuarse el pago.</p><br>
            <p>Entrega del aviso.  </p> <br>
            <p> El notario debe entregar, en los lugares y oportunidades que señalan los artículos 68 y 69 de la ley 18.092, un aviso dirigido al<br>
                aceptante en que lo cita para el día siguiente hábil que no fuere sábado, a su oficio, a fin de realizar el requerimiento<br>
                 correspondiente. Si el citado no comparece a la citación se efectúa el protesto. </p><br><br>

            <p>El acta de protesto. </p><br>
            <p>Se estampa en una hoja que se anexa al dorso del respectivo documento. En esta acta se deja constancia de haberse enviado el<br>
                 aviso, la relación de lo actuado, los impuestos que afectan al protesto, los derechos notariales que se cobran, fecha, hora y lugar<br> 
                 del protesto y la firma del notario. </p> <br><br>

            <p>Boletín de Informaciones Comerciales. </p> <br>
            <p>Oportunidad para protestar. </p> <br>
            <p>En los protestos por falta de pago el aviso debe entregarse en el lugar del pago en el primero o segundo día hábil siguiente que no <br>
                fuere sábado, al vencimiento de la letra. Por lo anterior, que dispone el art. 69 de la ley citada, no cabe efectuar protestos fuera de <br>
                 plazo.  </p> <br><br><br><br>
            




    </div>
      
        

</div>


{% endblock %}