{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'app/css/contacto.css' %}" type="text/css">


{% endblock %}


{% block contenido %} 

<div class="contenido">

    {% if r %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h5>{{ r }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

       {% if r2 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h5>{{ r2 }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    
    <div class="reservar-wrapper">
        
        <div class="reservar-form">
            <a class="btn btn-outline-success" href="{% url 'ReservarHora' %}">&#x2190; Volver</a>


            <h1 class="logo">Reservar Hora <span>Online</span> </h1>

            <form action="/insertar" method="post">
                {% csrf_token %}

                <p class="block"><label for="FechaReserva">Fecha Reserva</label> <input type="datetime-local"  required class="form-control form-control-lg" id="FechaReserva" name="txtfereserva"></p>
                <p><label for="Nombre">Nombre</label><input type="text" id="Nombre" name="txtnombre" placeholder="Nombre"  required class="form-control form-control-lg"></p>
                <p><label for="Apellido">Apellido</label> <input type="text" id="Apellido" name="txtapellido" placeholder="Apellido"  required class="form-control form-control-lg"> </p>
                <p> <label for="email">Email</label> <input type="email" id="email" name="txtemail" placeholder="tu@email.cl"  required class="form-control form-control-lg"> </p>
                <p><label for="telefono">Telefono</label> <input type="number" name="txtelefono" id="telefono" placeholder="956274248"  required class="form-control form-control-lg"></p> 
                <p class=""> <label for="tipoconsulta">Tipo Tramite</label> 
                    <select name="tipoconsulta" required class="form-select form-select-lg" >
                        <option value="">seleccionar</option>
                        <option value="MANDATO ESPECIAL">MANDATO ESPECIAL</option>
                        <option value="PODER ESPECIAL">PODER ESPECIAL</option>
                        <option value="COMPRAVENTA DE UN BIEN RAIZ">COMPRAVENTA DE UN BIEN RAIZ</option>
                        <option value="REVOCACION DEL MANDATO">REVOCACION DEL MANDATO</option>
                        <option value="PROMESA DE VENTA">PROMESA DE VENTA</option>
                        <option value="DOCUMENTOS OTORGADOS EN EL EXTRANJERO">DOCUMENTOS OTORGADOS EN EL EXTRANJERO</option>
                        <option value="IMPUESTOS DE TIMBRE EB PAGARES BANCARIOS">IMPUESTOS DE TIMBRE EB PAGARES BANCARIOS</option>
                    </select>
                    </p>
                <p><label for="telefono">Total a pagar</label> <input type="number" disabled="" name="txtTotal" id="telefono" placeholder="5000"></p> 

                <p class="block"> <a href="#"><button type="submit" id="btnEnviar" class="button">Continuar</button> </a> </p> 

            </form>

        </div>
    


    </div>

</div>


{% endblock %}