{% extends 'app/base.html' %}
 {% load crispy_forms_tags %} 
 {% load static %} 
 
 {%block css %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  href="{% static 'app/css/diseno.css' %}"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="{% static 'app/css/contacto.css' %}"
  type="text/css"
/>
<!--  <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
 --><link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}" />

{% endblock %}

{% block contenido %}
<script src="{% static '/js/funciones.js' %}?id={{ csrf_token }}"></script>

<script src="{% url 'js-catlog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>

<style>
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  select {
    width: 95%;
    margin-top: 15px;
  }
  .form-control {
    width: 95%;
  }

  label {
    color: white;
  }
  .datetimeshortcuts {
    text-align: center;
  }
</style>


<div class="contenido">
    
    {% if r %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h5>{{ r }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

       {% if r2 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h5>{{ r2 }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    
    <div class="reservar-wrapper">
        
        <div class="reservar-form">
            <a class="btn btn-outline-success" href="{% url 'ReservarHora' %}">&#x2190; Volver</a>


            <h1 class="logo">Reservar Hora <span>Online</span> </h1>

            <form action="" id="frmReservaCliente" class="" method="post">

                {% csrf_token %}
                {{ form.media }}
                

                {{ form | crispy }}
    
               
              
                <br>
                <p class="block">
                    <button type="submit" id="btnEnviar" class="button btnModalPayment">Pagar ahora</button> 
            
                </p> 

            </form>

        </div>


    </div>


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
   -->

</div>

<!-- Set up a container element for the button -->
<!-- <div id="paypal-button-container"></div> -->

{% block js %}
<script src="{% static '/js/funciones.js' %}?id={{ csrf_token }}"></script>

<script src="{% static 'app/js/script_csrf.js' %}"></script>
  
<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=Ad8Z5cTpX3ksIzFFJvTcyd7OyTJDwKhAzgFGEWiyPUKJJilPvXBG3qq7AOQo-qUyxlsoy5uJFk4TTz4j&currency=USD"></script>

<!-- BOOSTRAP 5.2 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>




{% endblock %} 

{% endblock %}

