{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app/css/contacto.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'app/css/style1.css' %}" type="text/css">


{% load socialaccount %}

{% providers_media_js %}





{% endblock %}


{% block contenido %}


   
<div class="container">
	{% load crispy_forms_tags %}

	<br>
	<br>
	<div class="row" style="margin-bottom: 40px;" >
		<div class="col-12 col-md-6 offset-md-3">
			<div class="card" style=" box-shadow: 0 0 20px #0B6430; margin-bottom: 20px;" >
                
				<div class="card-body">
                    <div class="div" style="display: flex; justify-content: right;">
                        
                        <a class="btn btn-outline-success" href="{% url 'registro' %}">Crear cuenta</a>
                    </div>
                    <h2 style="color:#0B6430; text-align: center;" >Iniciar Sesión </h2>


					<hr>
					<form action="" method="POST" >
						{% csrf_token %}
						{{ form | crispy }}
						<input class="button" type="submit" value="Ingresar">
						<br>

						<style>
							a {align-items: center;}
						</style>
						<style>
							a img  { width: 35px;  }	
							.google {  text-decoration:none; font-size: 20px; color: black; text-align: center;}	
							.center  { text-align: center; }
						</style>

						
						<div class="center">
							<a class="google" href="{% provider_login_url  "google" %}" ><img src="{% static 'app/img/google.png' %}" alt=""> Iniciar Sesion </a>
						</div>
						

							



                        <p style="font-size: 18px;  " > <a style="text-decoration:none;" href="{% url "password_reset" %}">He Olvidado mi Contraseña? </a></p>
					</form>
				</div>
			</div>

		</div>

	</div>

</div>

{% endblock %}


