{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/style1.css' %}" >

{% endblock %}
{% block contenido %}
   {% if messages %}
        {% for message in messages %}
        <div class="notification {{ message.tags}}">
            {{ message }}
        </div>
        {% endfor %}
{% endif %}

<div class="slider">
    <div>
        <section class="flex-caption">
            <h2>"NewHelpNotaria"</h2>
            <p>Ofrecemos una amplia variedad de servicios en linea  <br>
                con la finalidad de agilizar sus Tramites realice una  <br>
                reserva de hora online en la parte superior</p>
        </section>
        <img src="{% static 'app/img/10.png' %}" alt="">
    </div>
    <div>
        <section class="flex-caption">
            <h2>"Horario de Atencion "</h2>
            <p>Horarios de atención De lunes a viernes <br> 09:00 a 14:00 hrs.
                15:00 a 18:00 hrs <br>
                 Sabado 10:00 a 13:00hrs  </p>
        </section>
        <img src="{% static 'app/img/image11.jpg' %}" alt="">
    </div>
    <div>
        <section class="flex-caption">
            <h2>"NewHelpNotaria"</h2>
            <p>La notaria Cecilia Galvez ubicada en la V region <br> Viña del Mar 
                 fue creada por la notaria Cecilia Galvez Pino,<br> durante el año 2020 
                 por el decreto D.S.N, Del ministerio de justicia
        </section>
        <img src="{% static 'app/img/image12.jpg' %}" alt="">
    </div>
</div>
   
<div class="content">

    <h1> <strong>¿ Quienes Somos ? </strong> </h1>
    <p>Somos una notaría con más de 25 años de trayectoria, referentes en Viña del Mar. Nos preocupamos de entregar confianza
         a nuestros clientes mediante un trabajo de alto nivel profesional y estructural.
    </p>
    <p>Nuestras instalaciones y servicios nos diferencian: contamos con 11 salas de reuniones, 
        22 estacionamientos exclusivos para nuestros clientes, sistema de seguimiento de escrituras en línea a través 
        de nuestra página web y firma digital electrónica avanzada, lo que permite que nuestras escrituras ingresen directamente 
        a los conservadores para su inscripción, haciendo estos trámites más eficientes y expeditos. 
    </p>       

    <h1 class="mision"> Mision </h1>
    
    <p>Nuestra misión es entregar el mejor servicio, rápido y eficiente, y hacer honor al prestigio que hemos 
        construido como notaría. Asimismo, hacer de nuestra ética profesional el mejor signo de confianza hacia nuestros clientes. 
    </p>

    <h1 class="proposito"> Proposito </h1>
    
    <p>Hacer trascender nuestro liderazgo, aprovechando nuestras fortalezas, para convertirnos en la 
        mejor notaría de la zona centro del país, por poseer las mejores virtudes 
        que nos permiten entregar un servicio de excelencia y calidad a nuestros clientes, asegurando su satisfacción.</p>
    
        <p>Hacer trascender nuestro liderazgo, aprovechando nuestras fortalezas, para convertirnos en la mejor
             notaría de la zona centro del país, por poseer las mejores virtudes que nos permiten entregar un servicio 
             de excelencia y calidad a nuestros clientes, asegurando su satisfacción.</p>
</div>

{% endblock %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
 <!-- CUSTOM JS -->
<script src="js/main.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 4000
      });
    });
</script>
{% endblock %}