{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      
    
<div class="container1">
        
    <h1>Preguntas Frecuentes </h1>
        <div class="icono1">
            
            <ul>
                <ol > 
                    <h3>¿QUE SE NECESITA PARA TRANSFERIR UN BIEN RAIZ?</h3> 
                    <br>
                    <p>1. Copia de la escritura mediante la cual se adquirió esa propiedad.</p>
                    <p>2. Certificado de Dominio Vigente otorgado por el Conservador de Bienes Raíces que corresponda.</p>
                    <p>3. Certificado de Hipotecas y Gravámenes de 30 años otorgado por el mismo Conservador de Bienes Raíces.</p>
                    <p>4. Certificado de Tesorería que acredite que la propiedad no tiene deudas de contribuciones.</p>
                    <p>5. Certificado de no expropiación otorgado por el Serviú y otro por la Municipalidad que corresponda al domicilio de la propiedad que se vende.</p>
                    <p>6. Lleve los documentos a su abogado, quien redactara la minuta correspondiente a la escritura de compra-venta, enviandola éste a una de las funcionarias de escrituras publicas.  </p>
                </ol>
                <br>
                <ol>
                         
                <h3>¿QUE SE REQUIERE PARA FORMAR UNA SOCIEDAD ?</h3>
                <br>
                <p>Para formar una Sociedad de cualquier tipo, se requiere de dos o más personas que están de acuerdo en constituiría.
                    Determinar, con la asesoría de un abogado y contador. de acuerdo a la conveniencia de los eventuales socios, 
                    que tipo de sociedad es más conveniente. Una vez determinado lo anterior, el abogado asesor debe redactar un borrador 
                    de la sociedad requerida y enviarlo a la Notaría, donde se confeccionará la escritura pública correspondiente. Hecha 
                    la escritura en la Notaría, los socios la firman, el abogado confecciona un extracto de la escritura y el Notario autoriza 
                    la escritura y su extracto. Terminado el trámite de la escritura, se inscriben dos copias del extracto de ella en el 
                    Registro de Comercio del Conservador de Bienes Raíces que corresponda al domicilio social y otro extracto se publica en el
                    Diario Oficial. Ambos trámites deben realizarse dentro de los 60 días desde que se firma la escritura en Notaría. 
                    Realizada la inscripción y la publicación del extracto, con copia de ambos documentos y de la escritura de sociedad,
                    se debe concurrir al Servicio de Impuestos Internos para solicitar la Iniciación de Actividades y el RUT de 
                    la Sociedad.</p>
                <br>

                </ol>
                    <h3>¿COMO PUEDO OTORGAR UN TESTAMENTO ?</h3>
                    <br>
                    <p>1. «El testamento es un acto más o menos solemne, en que una persona dispone de todo o parte de sus bienes
                        para que tenga efecto después de sus días, conservando la facultad de revocar las disposiciones contenidas en él mientras viva», según es descrito en el Código Civil</p>
                        <br>
                    <p>2- El testamento solemne abierto -que es el que más se utiliza debe constar por escrito y otorgarse ante competente Notario y tres o 5 testigos.</p>
                    <br>
                    <p>3- El testamento solemne cerrado se otorga también ante Notario y tres testigos, para lo cual el testador debe concurrir al acto con su testamento previamente hecho, el que se guarda en un sobre lacrado y sellado que firman el testador, los testigos y el Notario. Este es un documento del cual tiene conocimiento solamente el testado</p>
                    <br>

                </ol>

                </ol>
                <h3>¿QUE DOCUMENTOS SON NECESARIOS PARA VENDER UN VEHICULO? </h3>
                <br>
                <p>Si se trata de un automóvil particular, se necesita el padrón del vehículo, las células de identidad de vendedor y 
                    comprador ,el certificado de anotaciones vigentes y el certificado de multas. Si se trata de taxis, camionetas o 
                    camiones destinados al transporte de carga ajena, además de los documentos anteriores se requiere dar aviso de la venta
                    al Servicio de Impuestos internos. El «Certificado de Anotaciones» y el de multas se obtiene en el Servicio de Registro 
                    Civil e Identificación. Mediante él el comprador puede saber si el vehículo está o no gravado con prenda o si existe
                    algún impedimento legal para la venta, por ejemplo una medida precautoria judicial o un embargo. Asimismo a través del
                    certificado de multas el adquirente sabrá si el vehículo está afecto a alguna multa Al momento de suscribir el
                    contrato de compra venta, las partes deberán acreditar el pago del impuesto municipal a la transferencia de vehículos
                    motorizados, que actualmente asciende al 1,5% del precio estipulado o del valor de su tasación fiscal, según lo que
                    sea más alto.</p>
                    </ol>
                </ol>
                    <h3>¿SE NECESITA ABOGADO PARA ENCARGAR UN TRABAJO A UNA NOTARIA?</h3>
                    <br>
                    <p>Por regla general no se necesita. Conforme al inciso 1° del artículo 413 del Código Orgánico de Tribunales, 
                        sólo las escrituras de constitución, modificación, resciliación o liquidación de sociedades, de liquidación de
                        sociedad conyugal, de asociaciones de canalistas, cooperativas, contratos de transacciones y contratos de emisión 
                        de bonos de sociedades anónimas, deben ser extendidas en los protocolos notariales sobre la base de minutas firmadas
                        por algún abogado. 
                    </p>
                </ol>
    
         </ul>

           <!--  <span class="iconos"><i class="fa-solid fa-house-user"></i> </span>   -->
           
    </div>
      
        

</div>


{% endblock %}