{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/diseno.css' %}" type="text/css">
{% endblock %}


{% block contenido %}      

     
<div class="titulo">

    <h2>Tramites</h2>
    <p>Tramites más comunes y todo los que necesitas saber.</p>
</div>

       
 <div class="container1">
    <!-- NEWS CARDS -->
<div class="news-cards">
    <!-- Ecrituras Publicas -->
    <div>
        <i aria-hidden="true" class="fas fa-plane"></i>          
        <h3>DOCUMENTOS <br> OTORGADOS EN EL <br> EXTRANJERO</h3>

    </div>

    <div>
        <i aria-hidden="true" class="fas fa-ban"></i>
         <h3>PROTESTO DE UNA <br> LETRA O PAGARE</h3>
        

    </div>

    <div>
        <i aria-hidden="true" class="fas fa-stamp"></i>
        <h3>IMPUESTOS DE TIMBRES EN PAGARES BANCARIOS  </h3>
        >
    </div>

   <div>
        <i aria-hidden="true" class="fas fa-book"></i>
        <h3>GUARDAS DE DOCUMENTOS Y LAS LLAMADAS “CARTA DE INSTRUCCIONES” </h3>     
      
  </div>

    <div>
        <i aria-hidden="true" class="fas fa-file-signature"></i>
        <h3>MANDATO ESPECIAL </h3>     
      
    </div>


    <div>
        <i aria-hidden="true" class="fas fa-gavel"></i>   
        <h3>PODER ESPECIAL </h3>     
    
    </div>

  <div>
    <i aria-hidden="true" class="fas fa-building"></i>  
    <h3>COMPRAVENTA DE UN BIEN RAÍZ</h3>
    
  
  </div>

  <div>
    <i aria-hidden="true" class="fas fa-handshake"></i>
    <h3>PROMESA DE COMPRA VENTA </h3>     
    
 </div>

 <div>
    <i aria-hidden="true" class="fas fa-file-medical-alt"></i>
     <h3>REVOCACION DEL MANDATO </h3>     
    
 </div>

 <div>
    <i aria-hidden="true" class="fas fa-signature"></i>
    <h3>JURISPRUDENCIA SOBRE «AUTORIZO LA FIRMA DE»</h3>     
    
 </div>

 <div>
    <i aria-hidden="true" class="fas fa-plane-departure"></i>
    <h3>PROMESA DE COMPRA VENTA </h3>     
    
 </div>

 <div>
    <i aria-hidden="true" class="fas fa-car-side"></i>
     <h3>TRANSFERENCIA SOBRE VEHICULOS MOTORIZADOS </h3>     

 </div>

</div>


            

 </div>

    
 

                

{% endblock %}