
* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
.container5 .cabezera  {
	padding: 1px;
}

.logo h2 {
	font-size: 48px;
	color: wheat;
	text-decoration: none;
}
.logo a {
	color: green;
	box-shadow: inset 0 -3px 0 0 red;
	box-shadow: none;
}
.logo a:hover{
	text-decoration: none;
}

.contact
{
	padding-top: 106px;
	padding-bottom: 117px;
}
.contact_title
{
	font-size: 36px;
	font-weight: 700;
	color: #1a1a1a;
}
.contact_form_container
{
	margin-top: 70px;
}
.input_field
{
	width: 100%;
	background: #f8f4f4;
	border: solid 2px transparent;
	margin-bottom: 24px;
	height: 42px;
	padding-left: 33px;
}
.input_field:focus
{
	outline: none !important;
	border-color: #0B6430;
}
.text_field
{
	width: 100%;
	height: 189px;
	background: #f8f4f4;
	border: solid 2px transparent;
	padding-left: 33px;
	margin-bottom: 24px;
}
.text_field:focus
{
	outline: none !important;
	border-color: #0B6430;
}
.contact_send_btn
{
	width: 100%;
	height: 48px;
	background: #0B6430;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
}
.contact_send_btn:focus
{
	outline: solid 1px #0B6430;
	border: green !important;
}
/*********************************
10. About
*********************************/

.about_title
{
	font-size: 36px;
	font-weight: 700;
	color: #1a1a1a;
	margin-bottom: 20px;
}
.about_text
{
	margin-top: 20px;
}
.contact_info
{
	margin-top: 64px;
}
.contact_info_item
{
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
	margin-bottom: 22px;
}
.contact_info_item:last-child
{
	margin-bottom: 0px;
}
.contact_info_icon
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.contact_info_icon img
{
	width: 100%;
}

/* RESERVAR HORA & GESTION HRS */

.title-reserva p {
	text-align: center;
	font-size: 30px	;
	color: #0B6430;
	margin-bottom: 30px;
	font-weight: 500;

}
.content-hora {
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;

}

.card p {
	text-align: center;
	margin-top: 15px;
}


.card-body{
	display: flex;
	flex-direction: column;
}
.card-body a {
	margin-top: 15px;
}


/* RESERVAR HORA CLIENTES */

.logo {
	text-align: center;
	color: #0B6430;
}
.logo span {
	color: #08A74A;
}
.contenido {
	width: 50%;
    margin-left: auto;
	margin-right: auto;
    max-width: 1170px;
	padding: 1.5em;   
}


.reservar-form form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.reservar-form .block {
	grid-column: 1/3;
}
.reservar-wrapper{
	box-shadow: 0 0 20px #0B6430;
}
.reservar-form p{
	margin: 0;
	padding: 1em;
}

input[type=text], input[type=email],input[type=date],
input[type=number], select, textarea {

    width: 100%;
    padding: 5px;

}
.reservar-form form button {
    width: 100%;
	padding: 7px;
	border: none;
	outline: none;
	border-bottom: 1px solid #0B6430;
	text-transform: uppercase;
	
}

.reservar-form form button:hover,
.reservar-form form button:focus {
	background: #08A74A;
	color: #000;
	transition:background-color 1s ease-out;
	outline: 0
}



.reservar-wrapper{
	padding: 1em;

}

textarea {
    resize: none;
}

.button {
    padding:5px 10px;
    color: white;
    background-color: #0B6430;
    border: none;
    border-radius: 5px;
}

.Reservar_Hora {
    width: 500px;
    margin-top:50px;
}




/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}
/* Mobil */

@media only screen and (max-width: 700px)
{
	.reservar-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.reservar-wrapper > * {

		padding: 2em;

	}
	
}