@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
    format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
* {
 margin: 0;
 padding: 0; 
 box-sizing: border-box;
}

body {
padding: 0;
margin: 0;
background-color:white;
font-family: 'Roboto', sans-serif;}


h2{font-size: 300% ;font-style: italic; font-weight: 500 ; color: wheat; 
}

h2 strong {
	font-weight: 900;
}
ul {list-style: none;}
li {font-size: 1.3rem; }
a{ text-decoration: none;}

.cabezera   {
 background: linear-gradient( brown , #931E06);
padding: 5px;
display: flex;
justify-content: space-between;
align-items: center;
}
.cabezera .direccion {
color: wheat;
font-size: 20px;
padding-right: 70px;
}
.cabezera .app {
color: wheat;
font-size: 20px;
text-align: left;
padding-left: 70px;
}

.top-header{
/*  background-color: darkolivegreen;*/
background: linear-gradient( darkolivegreen , #0B6430);

padding: 28px;
justify-content: space-between;
display: flex;
align-items: center;

/*  align-items: center ;
 */ 

}
.top-header .logo {
    display: flex;

}
.logo a{
    display: flex;    
}
.logo h2:hover{
    color: white;
    transition:all .5s ease-in-out;
}
.logo img {
    width: 80px;
    align-items: center;
    position: relative;
    bottom: 10px; 
    left: 78px;   
}
.logo img:hover{
    color: white;
    
}

/* caracteristicas del titulo */
.top-header a h2 {
    padding: 5px 70px ;
    font-weight: bold;
    letter-spacing: 2.5px;
    font-family: 'Joan', serif;
}

/* .top-header a h2:hover {
    color: white;
} */

.top-header .Login {
    padding: 10px 10px 0px 10px;
    margin-right: 90px;
    text-align: center;
    font-size: 22px;

}
.top-header .Login  a {
    color: wheat;
    font-family: 'Joan', serif;
    transition:all .5s ease-in-out;
}
.top-header .Login  a:hover {
    color: white;
}
.slider{
    width: 100%;
    margin-top: 1px;
    position: relative;
    
}
.slider img {
    width: 100%;
    width: 1500px;
    height: 500px;   
    
   
}
.menu{
background: linear-gradient(  #0D3C59 , #1f3c50);

/* background-color: #1f3c50;
 */
}
.menu ul {
    display: flex;
    justify-content: center;
}

.menu ul li a {
    padding: 10px ; 
    color: wheat;
    font-size: 1.2rem;
    transition:all .5s ease-in-out;

}


.menu ul li a:hover{
    color:white;
    text-decoration: underline;
 
}


/* Menu active */

 nav.menu ul li a:is(:link, :active, :visited).active{
    color: #a08b71;
    text-decoration: underline;
} 


/* parrafos slider */

.flex-direction-nav a {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 40px;
    height: 40px;
    overflow: hidden;
    opacity: 0;
}

  .flex-caption p {

    position: absolute;
    top:40%;
    text-align: left;
    margin-left: 70px;
    width: 100%;
    font-size: 25px;
    color: wheat;
    font-weight: bold;
  }
 
  .flex-caption h2 {

    position: absolute;
    top: 28%;
    text-align: left;
    margin-left: 70px;
    width: 100%;
    font-size: 50px;
    font-family: 'Andada Pro', serif;
    color: wheblat;
    font-weight: bold;
  }
  .flex-caption .parrafo {

    position: absolute;
    top: 70%;
    text-align: left;
    margin-left: 70px;
    width: 100%;
    font-size: 25px;
    font-family: 'Andada Pro', serif;
    color: wheat;
    font-weight: bold;
  }

 /* Quienes Somos */

 .content {
    padding: 50px 190px 50px;
    

 }
 .content h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold ;
    font-family: 'Andada Pro', serif;
    padding: 30px 0;

 }

 .content .notaria {
    font-size: 50px;
    text-align: left;
    font-weight: bold ;
    font-family: 'Andada Pro', serif;

 }
 .content .proposito {
    font-size: 50px;
    text-align: left;
    font-weight: bold ;
    font-family: 'Andada Pro', serif;

 }
 .content .mision {
    font-size: 50px;
    text-align: left;
    font-weight: bold ;
    font-family: 'Andada Pro', serif;

 }

 .content p {
    font-size: 1.5rem;
    font-family: 'Andada Pro', serif;
    padding: 30px 0;
 }
 .introduccion{
    text-align: center;
 }
/* Equipo Notaria */
.titulo h2 {
    padding-top: 20px;
    font-size: 40px;
    font-weight: 500;
    padding-left: 50px;
    color: #2c2c2c;
  }
  .titulo p {
    padding:20px 0px 20px 40px ;
    color: #808080;   
    font-size: 15px;
  }
  
  .cecilia-galvez {
    display: grid;
    place-content: center;
  }
  .cecilia-galvez i {
    color: #808080;
    font-size: 70px;
  }
  .title h1 {
    margin-top: 20px;
    text-align: center;
    font-family: inherit;
    color: #2c2c2c;
  }
  
  .introduccion{
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    color: #808080;
  }
  .content-intro {
    padding: 50px 190px 20px;
  }

  .news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    margin: 70px 0;
  }
  
  
  .news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
  
  } 
  .news-cards p {
    color: #8a6e4b;    
    text-align: center;
  
    font-size: 17px;
    
  }
  
  .news-cards .texto {
    color: #808080;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
    

  }
    /* TRAMITES */

    .container1 i {
      margin-left: 70px;
  
    }
  
    .container1 .news-cards h3 {
      color: #2c2c2c;
    }
  .container1 i {
    color: #cca876;
    border: 3px solid silver;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    align-items: center;
    border-color: #cca876;
    display: flex;
  }

  .container1 .news-cards i {
    justify-content: center;
    font-size: 60px;
  }

  .container1 .news-cards i:hover {
  
    background-color: #cca876;
    color: #ffff;
    transition:all .4s ease-in-out;
  }

  /* SERVICIOS */
  .titulo{
    margin-top: 10px;
  }
  .titulo p span {
    color: black;
    font-weight: 700;
  }
  
  .container1 img {
    
    width: 800px;
    margin-top: 20px;
    margin-left: 180px;

  }

 

 /* footer */
 
 footer {
    width: 100%;
    padding: 50px 0px;
/*   background-image: url(img/Footer-img/background-footer.svg);
 */  background-size: cover;
background: linear-gradient( darkolivegreen , #0B6430);
 }
 footer nav {
    width: 100%;
    list-style: none;
    
 }

 nav .listfooter{
    text-align: center;
    display: flex;
    justify-content: left;
    margin-left: 120px;
    margin-bottom: 30px; 
 }

 nav .listfooter a {
     color: wheat;
     font-size: 1.2rem;
     padding: 15px;
   
 }


 nav .listfooter a:hover {
    color: white;
    
}
/* Preguntas Frecuentes */
.container1 .home{
  display: inline-block;
}


footer .copy {
letter-spacing: 5px;
text-align: center;
width: 90%;
margin: 30px auto 0 auto;
border-top: 1px solid #806646;
padding-top: 30px;
text-align: center;
text-transform: uppercase;
}
footer .ubicacion{
text-align: center;
}



/* Mobil */
@media (max-width:700px){
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }

@media (max-width:300px){
       
        .news-cards {
            grid-template-columns: repeat(2, 1fr);
          }
        }
        

